<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>About Me</title>
        <link href="/static/css/style.css" rel="stylesheet">
    </head>
    <body>
        <h1>About Me</h1>
        <!--A brief background section about where I am from.-->
        <h2>Background</h2>
        <p>I am from <em>Clarksville, Maryland</em>, where I attended <em>Atholton High School</em>. I take pride in my school work and I <strong>really enjoy the outdoors</strong>.</p>
        <h2>Work Experience</h2>
        <p>This past summer, I interned with <strong>Stanley Black & Decker</strong>, where I was able to gain strong industry experience as a Business Analyst and helped to oversee various IT system improvement projects.</p>
        <h3>My top favorite foods:</h3>

        <ol>
            <li>Pizza</li>
            <li>Sushi</li>
            <li>Salmon</li>
        </ol>

        <!--A list of my strengths in no particular order.-->
        <h3>A list of my strengths:</h3>

        <ul>
            <li>Teamwork</li>
            <li>Creativity</li>
            <li>Hard Work</li>
            <li>Communication</li>
        </ul>

        <!-- Table containing past courses I've taken and what semester I took them.-->
        <table>
            <tr>
                <th>Course</th>
                <th>Semester Taken</th>
            </tr>
            <tr>
                <td>BMGT 402</td>
                <td>Fall 2023</td>
            </tr>
            <tr>
                <td>BMGT 430</td>
                <td>Spring 2023</td>
            </tr>
            <tr>
                <td>BMGT 340</td>
                <td>Spring 2022</td>
            </tr>
            <tr>
                <td>BMGT 343</td>
                <td>Fall 2022</td>
            </tr>
        </table>

        <p>Here is my <a href="/hello">welcome page</a>.</p>
        <p><a href="https://en.wikipedia.org/wiki/Main_Page/">Wikipedia</a> is one of my favorite websites since you can learn so much.</p>
        <p>Another website that is one of my favorites is <a href="https://www.wsj.com/" target="_blank">The Wallstreet Journal</a>.</p>
        <img src="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png" width="267" height="72" alt="Smith Logo">

    </body>
</html>