{% extends "base.html" %}

{% block page_title %}
    Training
{% endblock %}

{% block page_head %}
    Training
{% endblock %}

{% block page_content %}

    <div class="justify-content-center">
        <div class="login-form">
            <form class="row g-3" action="{{ url_for('login') }}" method="post">
            <p>Welcome to your training for the TerpSys Student Information System. Training materials are currently under construction, but will be created very soon. Please check back soon or email Brian Tarantino at <a href="mailto:briant@terpmail.umd.edu">briant@terpmail.umd.edu</a> if you wish to be placed on the waiting list.</p>
            </form>
        </div>
    </div>
{% endblock %}